{% include "header.html"%}

{% block content %}
<!-- body content -->

		<article class="background">
			<h2>
				Background
		</h2>

		<div class="inl_bgr">
				<figure>
						<img src="/static/imgs/a.png" alt="test image" />
						<figcaption>
								Some picture during work
						</figcaption>
				</figure>
				<div class="parag">
						In Kyrgyzstan, I studied jurisprudence and established my career in the law
						enforcement,
						Ministry of Internal Affairs of the Kyrgyz Republic <sup><a
										href="https://mvd.gov.kg/" rel="noopener norefferer"
										target="_blank">mvd</a></sup> from 2004 - 2010. I gained
						experience in various departments such as <q>Organized Crime Unit</q>, <q>Drug
								Enforcement deparment</q>, <q>Criminal Investigation</q> and <q>in
								Social Communication department</q> of the Police organization. When I
						became officer, district inspector, rank lieutenant, in a certain area with a
						population of more than 3000 inhabitants in the southern city Osh, I had the
						following responsibilities:
						<br>
						<span class="list">
								Communication with representatives of communities and individuals
						</span>
						<span class="list">
								Data collection on incoming and outgoing residents as well as on
								suspects, and persecuted felons
						</span>
						<span class="list">
								Paperwork: receiving of appeals, complaints, statements
						</span>
						<span class="list">
								Investigate and resolve offences
						</span>
						<br>
						Within five years in the Police Organisation, I received several awards for
						solving crimes. Teamwork and solving people's problems has been my passion at
						work, which I am proud of for my well-deserved service in the law enforcement
						agencies in Kyrgyzstan.
				</div>
		</div>
			
	        </article>
	   		 

	        <article class="refugee">
				<h2>The day Ground Zero</h2>
				<p class="quote"><q>The unexpected in life can turn a persons whole life and plans upside
								down</q></p>
				<div class="inl_bgr">
						<figure class="left_img">
								<img src="/static/imgs/b.png" alt="test">
								<figcaption>
										Some picture at work during the conflict
								</figcaption>
						</figure>
						<div class="parag_ref_day">
								On June 10, 2010, in Kyrgyzstan an inter-ethnic conflict found its place. The
								south of the country was engulfed in chaos and lawlessness, and the Government
								of Kyrgyzstan had not prevented this conflict although all knew of that. Then,
								while
								working in Criminal investigation Unit, also knew that people were preparing
								for that conflict in advance. For failure to take action in a timely manner, the
								Government of Kyrgyzstan had to ask for military assistance from other countries
								on June 12 - of no effect. During the conflict, I had to save the lives of the
								Uzbeks, helped them get out of the conflict zone to safe places in exercising of
								my duty. When the conflict ends, the government and the State Committee for
								National Security GKNB begins to consider people who helped the Uzbeks as
								enemies of the country, as a result of which I, among others, became a victim of
								persecution for the assistance provided. Since that time, I have been staying
								abroad.
						</div>
				</div>

	        </article>
	
			<article class="countries">
		
				<h2>A Friend in Need is a Friend Indeed!</h2>
				<div class="inl_bgr">
						<figure>
								<img src="/static/imgs/k.png" alt="test">
								<figcaption>
										Basketball Team Giants-3 Bern in 2012
								</figcaption>
						</figure>
						<div class="parag_ch">
								<span class="swiss"><strong>Switzerland/ Swiss</strong></span>
								<br> <br>
								While trying to get to Sweden from Russia, I was brought to
								Switzerland instead where I had to apply for political asylum. From November
								2010 to November 2014, I was in Switzerland as a refugee waiting for a decision.
								Meanwhile
								I learned German language, played basketball for the local Giants-3 team and got
								acquainted with traditions and faith of Swiss folk. As an old adage goes,
								<i><q>a
												stranger
												is just a friend you do not know </q></i>, there I met a friend,
								Leander who you can rely on, have no doubts and be confident in him, no matter
								what others say. But alas, in 2014 it turned out that the
								Switzerland and the government of Kyrgyzstan are in close relations in the trade
								of gold extracted in Kyrgyzstan, that the Swiss Migration Service with vague
								reasons refused to
								grant me political asylum from threats and unfounded persecution, that this
								decision has not even been reviewed by a Swiss court for correctness and
								legality. And I had to leave Switzerland in search of a safe country.
						</div>
				</div>
				<br>
				<br>

				<div class="inl_bgr">
						<figure>
								<img src="/static/imgs/d.png" alt="test">
								<figcaption>
										Friends in Quito
								</figcaption>
						</figure>

						<div class="parag_ecu">
								<span class="ecu"><strong>Ecuador</strong></span>
								<br>
								<br>
								It turned out so that life carried me after Switzerland across the Atlantic
								Ocean and I landed in Ecuador according to the answer of the Ecuadorian Embassy
								in Swiss.
								From 2015 to 2018, I have been staying in Ecuador, the land of adventurers and
								rascals. In this country I have seen and discovered much that I barely could
								even imagine in my mind from what I have seen. A country that is rapidly
								developing in words and papers, but not in deeds. I have to admit that it was
								hard for me there, as the German saying goes: <q>some flee a stream and fall
										into the
										Rhine</q>. I often had to fight for my rights and life, especially with
								the employees of the organisation which represented the rights of refugees in
								Ecuador. Without even waiting for an answer to my application for political
								asylum, I wanted, in March 2016, to leave Ecuador for a safer country, but the
								Ecuadorian officials did not let me on the plane even after having seen a
								written reply from the Panamanian embassy in hand. This incident, led me to meet
								a local family who offered me a helping hand from what they had heard and
								seen happened to me there. I saw thereby the other side of the country
								where people still have hope and faith in justice. Thanks to that family,
								Lourdes, I could unhindered leave from Ecuador for Europe in September 2018 by
								plane. I hope to meet my closest Ecuadorian friends in Europe to thank them for
								their kindness.
						</div>
				</div>
			</article>

			<article class="strength">
				<h2>Strengths</h2>
				<div class="inl_bgr">
						<figure>
								<img src="/testonreplit/i.png" alt="test">
								<figcaption>
										Strengths
								</figcaption>
						</figure>

						<div class="parag_wkns">
								The strengths I have are discipline (work ethic) to get the work done despite
								distractions, disruptions or new assigned tasks, and I'm not afraid to take
								responsibility. Working on structural and unstructured data makes me feel good,
								comfortable processing them quickly to find and deliver the solution that the
								team and client need. My past has additionally honed my skills to such an extent
								that I have become resilient to pressure and stress at work and can easily
								take leadership to lead the team in tough moments.
						</div>
				</div>
		</article>

		<article class="weakness">
			<h2>Weakness</h2>

			<div class="inl_bgr">
					<figure>
							<img src="/static/imgs/e.png" alt="test">
							<figcaption>
									Weakness
							</figcaption>
					</figure>

					<div class="parag_wkns">
							As anyone in the world I also have the common weakness.
							<br><br>
							My weakness is that I get nervous when speaking in front of large audiences,
							especially, I can get stuck if I forget a technical term I want to
							pronounce. I think it is due to the lack of practice and I can better
							through what I am working on.
							Other my weakness is honestness. I can be too honest in disscussion or by
							providing feedback because of my natural personality and culture. It is very
							straightforward and to the point.
							I, however, having being abroad for many years, have realised that I might need
							to soften my words once in a while depending on who's listening

					</div>
			</div>
	</article>


<!--  -->
		<article class="activities">
			<h2>Activities</h2>

			<div class="sport">
					<img src="/static/imgs/g.png" alt="betterimagesoon" />
					<h3>Sport</h3>
					<dl>
							<dt>Jogging/ Running</dt>
							<dd>.................................</dd>
							<dt>Basketball</dt>
							<dd>.................................</dd>
							<dt>Swimming</dt>
							<dd>................................</dd>
							<dt>Work-out</dt>
							<dd>................................</dd>
					</dl>
			</div>

			<div class="hobbies">
					<img src="/static//imgs/f.png" alt="betterimagesoon" />
					<h3>Hobbies</h3>
					<dl>
							<dt>Books</dt>
							<dd>.................................</dd>
							<dt>Chess</dt>
							<dd>.................................</dd>
							<dt>Biking</dt>
							<dd>................................</dd>
							<dt>Travel</dt>
							<dd>................................</dd>
					</dl>
			</div>
		</article>

{% endblock content %}

{% include "footer.html"%}

	</body>
</html>
