{% include "header.html"%}

{% block content %}
<!-- body content -->

		<article class="background">
		<h2>
			Professional background
		</h2>
	
		<figure>
			<img src="/static/images/a.png" alt="test image" >
			<figcaption>
				Some picture during work
			</figcaption>
		</figure>
			<p class="column1">
				For now I am using this text to check how the font looks like so that the content of this <br>
	            text was easy to change for any text..................................................................
	            ..............................................................................................
	            <br>
	            .....
	            ...................................................................................................
	            ...................................................................................................
	            <br>
	            .....
	            ...................................................................................................
	            ...................................................................................................
	            <br>
	            .....
	            ...................................................................................................
	            ...................................................................................................
	            <br>
	            .....
	            ...................................................................................................
	            ...................................................................................................

	        </p>
			
	        </article>
	   		 

	        <article class="refugee">
    	    	<h2>Last days in the country</h2>
				<figure class="left_img">
					<img src="/static/images/b.png" alt="test"  >
					<figcaption>
						Some picture during work
				    </figcaption>
				</figure>
				   		        	<p class="column2">		
		        	No one is insured from ...... to leave their contry .... For now I am using this text to <br>
	            text was easy to change for any text..................................................................
	            ..............................................................................................
	            <br>
	            .....
	            ...................................................................................................
	            ...................................................................................................
	            <br>
	            .....
	            ...................................................................................................
	            ...................................................................................................
	            <br>
	            .....
	            ...................................................................................................
	            ...................................................................................................
	            <br>
	            .....
	            ...................................................................................................
	            ...................................................................................................
	            <br>
	            .....
	            ...................................................................................................
	            ...................................................................................................
		        	</p>

	        </article>
	
			<article class="countries">
		
				<h2>A Friend in Need is a Friend Indeed!</h2>
					<p>		
					For now I am using this text to check how the font looks like so that the content of this 
		            text was easy to change for any text..................................................................
		            ...................................................................................................
		            ...................................................................................................
		            ...................................................................................................
		        	</p>
			
					<figure>
						<img src="/static/images/k.png" alt="test"  >
						<figcaption>
							Basketball Team Giants-3 Bern in 2012
						</figcaption>
					</figure>
						<p class="column3">
						<span><strong>Switzerland/Swiss</strong></span><br>
						How got to know people and have built friendship in Basketball team Giants-3 Bern....... Leander
						<br>
						<i>For now I am using this text to check how the font looks like <br>so that the content of this 
			            text was easy to change for any text......................<br>............................................
			            ...................................................................................................
			            ...................................................................................................<br>
			            ...................................................................................................
						</i>
					</p>
					<br>
					<br>
					<figure class="left_img">
						<img src="/static/images/d.png" alt="test" >
						<figcaption>
							Friends in Quito in 2018
						</figcaption>
					</figure>
					<p class="column4">
					<span><strong>Ecuador</strong></span><br>
						For now I am using this text to check how the font looks like so that the content of this 
		            text was easy to change for any text..................................................................
		            ...................................................................................................
		            ...................................................................................................
		            ...................................................................................................
		            For now I am using this text to check how the font looks like so that the content of this 
		            text was easy to change for any text..................................................................
		            ...................................................................................................
		            ...................................................................................................
		            ...................................................................................................

					</p>

			</article>

<!--  -->
		<article class="activities">
			<h2>Activities/Hobbies</h2>
			<div class="sports">
				<h3>Sport</h3>
				<dl>
					<dt>Jogging/Running</dt>
						<dd>.................................</dd>
					<dt>Basketball</dt>
						<dd>.................................</dd>
					<dt>Swimming</dt>
						<dd>................................</dd>
					<dt>Work out</dt>
						<dd>................................</dd>
				</dl>
		</div>
		<div class="hobbies">		
			<h3>Hobbies</h3>
				<dl>
					<dt>,,,,,,</dt>
						<dd>.................................</dd>
					<dt>,,,,,</dt>
						<dd>.................................</dd>
					<dt>,,,,,,</dt>
						<dd>................................</dd>
					<dt>Travelling</dt>
						<dd>................................</dd>
				</dl>
		</div>
<!-- 		<div>
 			<h3>Books</h3>
			<table class="table" id="table_th">
				<thead>
				<tr>
					<th>Nr.</th>
					<th>Genre</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>History</td>
					<td>..........</td>
					<td>..........</td>
				</tr>

				<tr>
					<td>2</td>
					<td>Detective</td>
					<td>...........</td>
					<td>............</td>
				</tr>

				<tr>
					<td>3</td>
					<td>Romance</td>
					<td>...............</td>
					<td>...............</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Romance</td>
					<td>...............</td>
					<td>...............</td>
				</tr>
			</tbody>

			</table>
		</div>  -->

		</article>

	<article class="weakness">
		<h2>Weakness of each Human</h2>
		<figure>
			<img src="/static/images/e.png" alt="test"  >
			<figcaption>
				Weakness
			</figcaption>
		</figure>

			<p class="column5">
				All creatures (human, animals) in the world has their weakness. <br>
				So you have it too like everyone.......
			</p>
	</article>
{% endblock content %}

{% include "footer.html"%}

	</body>
</html>
