{% include "header.html" %}

{% block content %}

	<div>
		<div>
			
		</div>
	</div>


{% endblock %}
	<div class="container">
		<people class="people">
			<name>Kanatbek Abdurasulov</name>
			<address>Netherlands The, Amsterdam</address>
			<phone><i>Phone and WhatsApp icons: </i>+417 *** **** <br> <span>+316 *** **** </span></phone><br>
			<email><i>Email icon: </i>aka@sunrise.ch</email><br>
			<i>Linkedin icon: </i>www.linkedin.com/in/kanatbekabdurasulov<br>
			<i>Facebook icon: </i>Ptahotep<br>
		</people>
		<br>
		<br>

			<pre>Please, use the form below in case you do not have an email:)</pre>
			<br>
			<br>
			<div class="message">
			<form>
					<label for="message">Send a message:</label>
					<textarea id="message" name="field" rows="14" cols="100" placeholder="">Enter your message here......</textarea>
					<input type="submit" value="Submit">
			</form>
		</div>
	</div>


{% include "footer.html" %}

</body>
</html>
