<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<!-- JS code protection -->
  <script> </script>
<!-- Metas media antirobots-->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' " />
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- <meta http-equiv="refresh" content="60;index.html"  /> -->
  <meta name="robots" content="noindex,nofollow,nosnippet" />
  <meta name="googlebot" content="noindex,noarchive,nosnippet"/>
  <meta http-equiv="Cache-Control" content="no-cache, not-store must-revalidate"  />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-http-equiv="Expires" content="0"/>
  <meta name="author" content="Kanatbek-AKA" />

  <title>Portfolio</title>

<!-- Font families -->
  <link href="https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Luxurious+Roman&family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">

<!-- JS -->
  <script> </script>

<!-- Own style -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css') }}" />
  
<!-- Favicons -->
  <link rel="stylesheet" type="image/png" href="fav.icon"/>
  <link rel="stylesheet" type="image/jpeg" href="icon"  />

</head>

<body>

  <!-- Images changeable-->
  <div class="img_container">
    <div class="box">
      <picture>
        <source media="(min-width: 1600px)" srcset="static/images/1(11).png"  />
        <source media="(min-width: 800px )" srcset="static/images/Ka.jpg" />
        <img src="static/images/aka.jpg" id="img_media" alt="jfif format" width="250px">
      </picture>
    </div>
  </div>
  
  <!-- Authors Name and short introduction -->
    <div class="header">
      <div class="h1">Kanatbek Abdurasulov</div>
        <div class="p1"> 
            For now I am using this text to check how the font looks like so that the content of this 
            text was easy to change for any text..................................................................
            ...................................................................................................
            ...................................................................................................
            ...................................................................................................
        </div>
    </div>

  <!-- Navigator -->
  <nav>
      <ul>
          <li class="about"><a class="a" href="/about" target="_self" rel="noopener norefferer">About me</a></li>
          <li class="skills"><a class="a" href="/skills" target="_self" rel="noopener norefferer">Skills</a></li>
          <li class="contact"><a class="a" href="/contact" target="_self" rel="noopener norefferer">Contact</a></li>
          <!-- <li class="others"><a class="a" href="#other.html" target="_self" rel="noopener norefferer">Others</a></li> -->
      </ul>
  </nav>

      <hr>

<!-- Content  -->
  <div class="main">
    <div class="container">
      <div class="h2">
        <h2>Here are images with access to different projects<h2>
          <!-- <img src="" alt="" type="" /> -->
      </div>
      <div class="p2">
        Description.........................................
        ........................................................................................
        ........................................................................................ 
      </div>
    </div>


  <div class="article">
    <div class="container">
      <div class="h2">
        <h2>Here are images with access to different projects</h2>
        <!-- <img src="" alt="" type="" /> -->
      </div>
      <div class="p2">
        Description.........................................
        ........................................................................................
        ........................................................................................ 
      </div>
    </div>
  </div>

<!--  -->
<div class="container2">
      <div class="h2">
        <h2>Here are images with access to different projects<h2>
          <!-- <img src="" alt="" type="" /> -->
      </div>
      <div class="p2">
        Description.........................................
        ........................................................................................
        ........................................................................................ 
      </div>
    </div>


  <div class="article">
    <div class="container3">
      <div class="h2">
        <h2>Here are images with access to different projects</h2>
        <!-- <img src="" alt="" type="" /> -->
      </div>
      <div class="p2">
        Description.........................................
        ........................................................................................
        ........................................................................................ 
      </div>
    </div>
  </div>

  <!--  -->
<div class="container4">
      <div class="h2">
        <h2>Here are images with access to different projects<h2>
          <!-- <img src="" alt="" type="" /> -->
      </div>
      <div class="p2">
        Description.........................................
        ........................................................................................
        ........................................................................................ 
      </div>
    </div>


  <div class="article">
    <div class="container5">
      <div class="h2">
        <h2>Here are images with access to different projects</h2>
        <!-- <img src="" alt="" type="" /> -->
      </div>
      <div class="p2">
        Description.........................................
        ........................................................................................
        ........................................................................................ 
      </div>
    </div>
  </div>


  </div>


<!-- Table container -->
<!--   <div class="test_table">
    <div class=test_tb>
      <h3>Testing table </h3>
      <p>Here is a paragraph ....................................................................
        ........................................................................................
        ........................................................................................ </p>
    </div>
  </div> -->




<!-- Footer -->
<footer>
  <p>
    &copy;   Next page >>>>  &#174;
  </p>
</footer>

<!-- JS or Py -->
    <script></script>

  </body>
</html>
