{% include "header.html"%}

{% block content %}
<!-- Python -->
		<div id="main">
			<div class="header">
				<h1>Python</h1>
			</div>

		<div class="section">
			<div class="dropdown">
				<label for="analysis">Projects:</label>
				<br>
				<br>
					<select name="python" id="analysis" autocomplete="off" required>
						<optgroup label="Analysis:">
							<option value="">Select a project.....</option>
							<option value="panda">Pandas</option>
							<option value="spark">PySpark</option>
							<option value="air">Airflow</option>
							<option value="tf">TensorFlow</option>
							<option value="">........</option>
						</optgroup>
						<optgroup label="Program:">
							<option value="thinking">Creating projects...</option>
							<option value="thinking">Creating projects...</option>
							<option value="thinking">Creating projects...</option>
							<option value="thinking">Creating projects...</option>
							<option value="thinking">Creating projects...</option>
							<option value="thinking">Creating projects...</option>
						</optgroup>
					</select>
			</div>

				<div class="intern-box">
				<p>Here is going to be projects</p>
				<pre>..... thinking how to add the projects made </pre>
			</div> 
		</div>
		</div>
<!-- SQL -->
		<div id="main">
			<div class="header">
				<h1>SQL/RDBMS</h1>
			</div>

		<div class="section">
			<div class="dropdown">
				<label for="rdbms">Projects:</label>
				<br>
				<br>
					<select name="sql" id="rdbms" autocomplete="off" required>
						<optgroup label="Analysis:">
							<option value="">Select a project....</option>
							<option value="sqlite">SQLite</option>
							<option value="mysql">MySQL</option>
							<option value="pg">PgSQL</option>
							<option value="db">DB2</option>
							<option value="bq">BigQuery (google account)</option>
						</optgroup>
					</select>
			</div>
			
				<div class="intern-box">
					<p>Here is going to be projects</p>
					<pre>..... thinking how to add the projects made </pre>
				</div> 
			</div>
		</div>
<!-- NoSQl -->
		<div id="main">
			<div class="header">
				<h1>NoSQL/ Not Only SQL</h1>
			</div>

		<div class="section">
						<div class="dropdown">
				<label for="nosql">Projects:</label>
				<br>
				<br>
					<select name="notonlysql" id="nosql" autocomplete="off" required>
						<optgroup label="Analysis:">
							<option value="">Select a project....</option>
							<option value="mongo">MongoDB</option>
							<option value="couch">CouchDB</option>
							<option value="cassa">Cassandra</option>
							<option value="ibmcloud">IBM CloudantDB</option>
						</optgroup>
					</select>
			</div>
				<div class="intern-box">
					<p>Here is going to be projects</p>
					<pre>..... thinking how to add the projects made </pre>
				</div> 
			</div>
		</div>

<!-- R  -->
		<div id="main">
			<div class="header">
				<h1>R/RStudio</h1>
			</div>

		<div class="section">
			<div class="dropdown">
				<label for="r">Projects:</label>
				<br>
				<br>
					<select name="rstudio" id="r" autocomplete="off" required>
						<optgroup label="Analysis:">
							<option value="">Select a project....</option>
							<option value="">Data Wrangling/Normalization</option>
							<option value="">Data Analysis</option>
							<option value="">Data Visualization</option>
							<option value="">....</option>
							<option value="">....</option>
						</optgroup>
					</select>
			</div>
				<div class="intern-box">
					<p>Here is going to be projects</p>
					<pre>..... thinking how to add the projects made </pre>
				</div> 
			</div>
		</div>

<!-- Bash / Bourne Again / RHL-->
		<div id="main">
			<div class="header">
				<h1>Bash & Shell & RHL</h1>
			</div>

		<div class="section">
			<div class="dropdown">
				<label for="bash">Projects:</label>
				<br>
				<br>
					<select name="bash" id="bash" autocomplete="off" required>
						<optgroup label="Bash:">
							<option value="">Select a project....</option>
							<option value="">Thinking how to name it</option>
							<option value="">Thinking how to name it</option>
							<option value="">Thinking how to name it</option>
							<option value="">Thinking how to name it</option>
						</optgroup>
						<optgroup label="Shell:">
							<option value="">Thinking how to name it</option>
							<option value="">Thinking how to name it</option>
							<option value="">Thinking how to name it</option>
							<option value="">Thinking how to name it</option>
							<option value="">Thinking how to name it</option>
						</optgroup>
					</select>
			</div>
				<div class="intern-box">
					<p>Here is going to be projects</p>
					<pre>..... thinking how to add the projects made </pre>
				</div> 
			</div>
		</div>

<!-- Docker & Kubernets & OpenShift -->
		<div id="main">
			<div class="header">
				<h1>Docker & Kubernets & OpenShift</h1>
			</div>

		<div class="section">
			<div class="dropdown">
				<label for="containers">Projects:</label>
				<br>
				<br>
					<select name="clouds" id="containers" autocomplete="off" required>
						<optgroup label="Docker:">
							<option value="">Select a project....</option>
							<option value="">Coming soon</option>
							<option value="">Coming soon</option>
							<option value="">Coming soon</option>
							<option value="">Coming soon</option>
						</optgroup>
						<optgroup label="Kubernets:">
							<option value="">Coming soon</option>
							<option value="">Coming soon</option>
							<option value="">Coming soon</option>
							<option value="">Coming soon</option>
							<option value="">Coming soon</option>
						</optgroup>
						<optgroup label="OpenShift:">
							<option value="">Thinking how to name it</option>
							<option value="">Thinking how to name it</option>
							<option value="">Thinking how to name it</option>
							<option value="">Thinking how to name it</option>
							<option value="">Thinking how to name it</option>
						</optgroup>
					</select>
			</div>

				<div class="intern-box">
					<p>Here is going to be projects</p>
					<pre>..... thinking how to add the projects made </pre>
				</div> 
			</div>
		</div>

<!-- Yaml -->
<div id="main">
			<div class="header">
				<h1>Yaml</h1>
			</div>

		<div class="section">
			<div class="dropdown">
				<label for="yaml">Yaml:</label>
				<br>
				<br>
					<select name="yaml" id="yaml" autocomplete="off" required>
							<option value="">Select a project....</option>
							<option value="">Coming soon</option>
							<option value="">Coming soon</option>
							<option value="">Coming soon</option>
							<option value="">Coming soon</option>
					</select>
			</div>

				<div class="intern-box">
					<p>Here is going to be projects</p>
					<pre>..... thinking how to add the projects made </pre>
				</div> 
			</div>
		</div>

<!-- Git -->
		<div id="main">
			<div class="header">
				<h1>Git</h1>
			</div>

		<div class="section">
			<div class="dropdown">
				<label for="git">Git CLI:</label>
				<br>
				<br>
					<select name="cli" id="git" autocomplete="off" required>
							<option value="basic">Basic commands</option>
							<option value="">...</option>
							<option value="">...</option>
							<option value="">...</option>
							<option value="">...</option>
					</select>
			</div>
				<div class="intern-box">
					<p>Here is going to be projects</p>
					<pre>..... thinking how to add the projects made </pre>
				</div> 
			</div>
		</div>

<!-- JS -->
		<div id="main">
			<div class="header">
				<h1>JS & Node</h1>
			</div>

		<div class="section">
			<div class="dropdown">
				<label for="js">Projects:</label>
				<br>
				<br>
					<select name="jscript" id="js" autocomplete="off" required>
						<optgroup label="JS:">
							<option value="basic">Basic project</option>
							<option value="">...</option>
							<option value="">...</option>
							<option value="">...</option>
							<option value="">...</option>
						</optgroup>
						<optgroup label="Node.js:">
							<option value="basic">Basic project</option>
							<option value="">...</option>
							<option value="">...</option>
							<option value="">...</option>
							<option value="">...</option>
						</optgroup>
					</select>
			</div>
				<div class="intern-box">
					<p>Coming soon</p>
					<pre>My mind is developing to use all languages together :)</pre>
				</div> 
			</div>
		</div>

{% endblock %}



{% include "footer.html"%}
	</body>
</html>
